* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
    font-weight:500;
}

input[type=button] {
    border:none;
    border-radius: 30px;
    font-weight: bold;
}

.white {
    background-color: white;
    color:black;
}

.black {
    background-color: black;
    color:white;
}

.lavanda {
    background-color:#8ea1e1;
    color:white;
}

.wave {
    width:100%;
    margin:0;
}

/* HEADER!!!!!!!  */
header {
    color:white;
}

header .box-uno {
    width:100%;
    background-color: #255ee9;
    padding:20px 0px;
}

header .box-uno .contenitore {
    max-width:1200px;
    margin:0 auto;
}

header .box-uno .row {
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
}

header .box-uno .column-left {
    width:25%;
    text-align:left;
    padding:10px;
}

header .box-uno .column-center {
    width:50%;
    text-align:center;
    padding:10px;
}

header .box-uno .column-right {
    width:25%;
    text-align:right;
    padding:10px
}

header .box-uno .column-center ul {
    list-style-type: none;
}

header .box-uno .column-center li {
    display:inline;
    margin:0 10px;
}

header .box-uno input[type=button] {
    background-color:white;
    color:black;
    font-size:15px;
    padding:10px 20px;
}

header .box-due {
    width:100%;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding:110px 0px;
    font-size:20px;
}

header .box-due .contenitore {
    max-width:800px;
    height:400px;
    margin:0 auto;
    display:flex;
}

header .box-due .row {
    width:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

header .box-due .column {
    width:100%;
}

header .titolo {
    font-size:60px;
    font-weight:bold;
    margin:30px 0;
    text-align: center;
}

header .testo {
    text-align:center;
    margin-bottom:20px;
}

header .bottoni {
    text-align: center;
}

header .bottoni input[type=button] {
    font-size:20px;
    padding:20px 30px;
    margin:0 10px;
}

/* MAIN!!!!!!!!!! */
main {
    color:black;
}

main .titolo {
    font-size:40px;
    font-weight:bold;
    margin-bottom:20px;
}

main .box-uno {
    width:100%;
    background-color: white;
    padding:30px 0px;
}

main .box-uno .contenitore {
    max-width:1200px;
    margin:0 auto;
}

main .box-uno .row {
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
}

main .box-uno .column-left {
    width:60%;
}

main .box-uno .column-right {
    width:40%;
    height:400px;
}

main .box-uno .content-left {

}

main .box-uno .content-right {
    width:60%;
}

main .box-due {
    width:100%;
    background-color: #f6f6f6;
    padding:30px 0px;
}

main .box-due .contenitore {
    max-width:1200px;
    margin:0 auto;
}

main .box-due .row {
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
}

main .box-due .column-left {
    width:40%;
    height:400px;
}

main .box-due .column-right {
    width:60%;
}

main .box-due .content-left {
    width:60%;
}

main .box-due .content-right {

}

main .box-tre {
    width:100%;
    background-color: white;
    padding:30px 0px;
}

main .box-tre .contenitore {
    max-width:1200px;
    margin:0 auto;
}

main .box-tre .row {
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
}

main .box-tre .column-left {
    width:60%;
}

main .box-tre .column-right {
    width:40%;
}

main .box-tre .content-left {

}

main .box-tre .content-right {
    width:60%
}

main .box-quattro {
    width:100%;
    background-color: lightgrey;
    padding:30px 0px;
}

main .box-quattro .contenitore {
    max-width:1200px;
    margin:0 auto;
    margin-bottom:50px;
}

main .box-quattro .row {
    width:100%;
    display:flex;
}

main .box-quattro .column {
    width:100%;
    text-align:center;
}

main .box-quattro .content {

}

main .box-quattro img {
    width:100%
}

main .box-quattro .testo-due {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: top center;
    font-size:30px;
    font-weight: bold;
    padding:20px 0;
    line-height:2;
}

main input[type=button] {
    font-size:20px;
    padding:20px 30px;
    margin:0 10px;
}

/* FOOTER!!!!!!!!!!! */
footer {
    background-color: #23272a;
    color:white;
}

footer .titolo {
    font-size:40px;
    font-weight:bold;
    color:#7289da;
    margin-bottom:20px;
}

footer .testo {
    vertical-align: top;
    margin-bottom:10px;
}

footer ul {
    list-style-type: none;
    font-size:20px; 
    line-height:2;
}

footer li:first-child {
    color:#7289da;
    font-weight:bolder;
}

footer .box-uno {
    width:100%;
    padding-top:60px;
    padding-bottom:30px;
}

footer .box-uno .contenitore {
    max-width:1200px;
    margin:0 auto;
}

footer .box-uno .row {
    width:100%;
    display:flex;
    flex-direction:row;
}

footer .box-uno .column-left {
    width:30%;
    text-align:left;
}

footer .box-uno .column-left .testo img {
    width:25px;
    vertical-align: top;
}

footer .box-uno .column-left .icone img {
    width:25px;
    vertical-align: top;
}

footer .box-uno .column-right {
    width:70%;
    text-align:center;
}

footer .box-uno .right-row {
    width:100%;
    display:flex;
    flex-direction: row;
}

footer .box-uno .mini-column {
    width: calc(100% / 4);
    flex-wrap: wrap;
    text-align:left;
}

footer .box-due {
    width:100%;
    padding:30px 0px;
}

footer .box-due .contenitore {
    max-width:1200px;
    margin:0 auto;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items: center;

}

footer .box-due .logo {
    padding:10px;
}

footer .box-due .bottone {
    padding:10px;
}

footer .box-due .bottone input[type=button] {
    font-size:15px;
    padding:10px 20px;
}